.sgbmk {
  $parent: &;
  &-total-user {
    border: 3px #31ccec solid !important;
  }
  &-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  &-node {
    width: 10px;
    height: 10px;
    background: orange;
    border-radius: 100%;
    cursor: pointer;
    &:hover {
      background: red;
      transform: scale(1.2);
    }
    &-not-select {
      background: red;
    }
  }
  &-btn {
    border-radius: 100%;
    padding: 2px;
    cursor: pointer;
    &:hover {
      svg {
        color: grey;
      }
    }
    svg {
      height: 15px;
    }
  }
  &-draw-moving-node {
    position: absolute;
    opacity: 0;
    width: 1;
    height: 1;
  }
  &__card {
    $card: &;
    position: absolute;
    min-width: 200px;
    // max-width: 230px;
    background: #d8d8d8;
    &.active {
      z-index: 1000;
    }
    &:hover {
      // z-index: 1000;
      #{$card} {
        &__node {
          opacity: 1;
        }
      }
    }
    &__title {
      padding: 2px;
      display: block;
      // background: #5b5b5b;
      color: #fff;
      &__header{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
      }
      &__badge {
        padding-left: 44px;
        color: #fff;
      }
      &__footer {
        font-size: 20px;
        display: flex;
        gap: 8px;
        padding-left: 12px;
        padding-bottom: 8px;
      }
    }
    &__answers {
      &__vertical{
        display: table;
      }
      &__item {
        padding: 2px 5px;
        background: #8e8e8e;
        border: 3px #8e8e8e solid;
        color: #fff;
        margin: 8px;
        display: flex;
        align-items: center;
        &__title {
          flex: 1;
        }
        &__any {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
        }
        &__group {
          flex: 1;
        }
        &__any-title {
          padding: 2px 5px;
          background: #8e8e8e;
          border: 3px #8e8e8e solid;
          color: #fff;
          margin: 8px 0 8px 8px;
        }
        &__any-node {
          margin: 8px 8px 8px 0;
          background: #8e8e8e;
          border: 6px #8e8e8e solid;
          display: flex;
          align-items: center;
        }

        &__vertical{
          display: table;
          float: left;
        }
      }
    }
    &__actions {
      display: flex;
      justify-content: end;
      gap: 2px;
    }
    &__node {
      position: absolute;
      background: cornflowerblue;
      opacity: 0;
      &__vertical{
        margin-left: 45%;
      }
      &--0 {
        left: -5px;
        top: -5px;
      }
      &--1 {
        left: 50%;
        margin-left: -5px;
        top: -5px;
      }
      &--2 {
        right: -5px;
        top: -5px;
      }
      &--3 {
        right: -5px;
        top: 50%;
        margin-top: -5px;
      }
      &--4 {
        right: -5px;
        bottom: -5px;
      }
      &--5 {
        left: 50%;
        margin-left: -5px;
        bottom: -5px;
      }
      &--6 {
        left: -5px;
        bottom: -5px;
      }
      &--7 {
        left: -5px;
        top: 50%;
        margin-top: -5px;
      }
    }
  }

  &-btn-add {
    position: relative;
    z-index: 1;
  }

  &-icon {
    display: flex;
    align-items: center;
  }
}
.leader-line{
  z-index: 0;
}
.leader-line-end-label {
  fill: #999 !important;
  cursor: pointer;
  pointer-events: visible;
  &:hover {
    fill: #000 !important;
  }
}
svg *{
  pointer-events:auto;
}

.start-card {
  background: #1976d2;
}
.message-card {
  background: gray;
}
.question-card {
  background:#FFC20E;
}
.goal-card {
  background:  CADETBLUE;
}
.display-flex{
  display: flex !important;
}

.sgbmk-btn .q-icon {
  font-size: 1.25em;
}

.sgbmk-icon i {
  padding: 4px;
  border: 1px solid;
  border-radius: 6px;
}
