.sgbmk {
  &-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-node {
    width: 10px;
    height: 10px;
    background: orange;
    border-radius: 100%;
  }
  &__card {
    position: absolute;
    min-width: 100px;
    max-width: 230px;
    background: #d8d8d8;
    &__title {
      padding: 8px;
      background: #5b5b5b;
      color: #fff;
      &__badge {
        background: #fff;
        color: #5b5b5b;
      }
    }
    &__answers {
      &__item {
        padding: 2px 5px;
        background: #8e8e8e;
        border: 3px #8e8e8e solid;
        color: #fff;
        margin: 8px;
        display: flex;
        align-items: center;
        &__title {
          flex: 1;
        }
      }
    }
  }
}
