.sgbmk {
  &-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-node {
    width: 10px;
    height: 10px;
    background: orange;
    border-radius: 100%;
  }
  &__card {
    $card: &;
    position: absolute;
    min-width: 100px;
    max-width: 230px;
    background: #d8d8d8;
    &:hover {
      #{$card} {
        &__node {
          display: block;
        }
      }
    }
    &__title {
      padding: 8px;
      background: #5b5b5b;
      color: #fff;
      &__badge {
        background: #fff;
        color: #5b5b5b;
      }
    }
    &__answers {
      &__item {
        padding: 2px 5px;
        background: #8e8e8e;
        border: 3px #8e8e8e solid;
        color: #fff;
        margin: 8px;
        display: flex;
        align-items: center;
        &__title {
          flex: 1;
        }
      }
    }
    &__node {
      position: absolute;
      background: cornflowerblue;
      display: none;
      &:hover {
        background: darkmagenta;
      }
      &--0 {
        left: -5px;
        top: -5px;
      }
      &--1 {
        left: 50%;
        margin-left: -5px;
        top: -5px;
      }
      &--2 {
        right: -5px;
        top: -5px;
      }
      &--3 {
        right: -5px;
        top: 50%;
        margin-top: -5px;
      }
      &--4 {
        right: -5px;
        bottom: -5px;
      }
      &--5 {
        left: 50%;
        margin-left: -5px;
        bottom: -5px;
      }
      &--6 {
        left: -5px;
        bottom: -5px;
      }
      &--7 {
        left: -5px;
        top: 50%;
        margin-top: -5px;
      }
    }
  }
}
